name: Lint and test app
on: [push]

jobs:
  test-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: pip
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest flake8 black isort httpx
          if [ -f requirements.txt ]; then pip install requirements.txt; fi
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide, we make it 120 chars
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=88 --statistics
      - name: Lint with black
        run: black .
      - name: Lint with isort
        run: isort .
      - name: Lint with mypy
        run: mypy src
      - name: Test with pytest
        run: |
          pytest
